.filter {
    padding: 10px;
    box-sizing: border-box;
    max-width: 952px;
    margin: 0 auto;
    &__search {
        display: flex;
        &__input {
            width: 100%;
            width: 300px;
            border-radius: 8px;
            outline: none;
            padding: 4px 12px;
            border: 1px solid #C0C0C0;
            transition: all 0.2s;
            margin-right: 16px;
            &:focus {
                border-color: #4169E1;
            }
            &:hover {
                border-color: #4169E1;
            }
        }
        &__btn {
            border-radius: 8px;
            background-color: #4682B4;
            color: #fff;
            text-align: center;
            padding: 6px 16px;
            border: 1px solid #4682B4;
            transition: all 0.2s;
            cursor: pointer;
            display: block;
            &:hover {
                background-color: #4169E1;
            }
        }
    }
    &__items {
        margin-left: -8px;
        margin-right: -8px;
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        &__item {
            position: relative;
            border: 1px solid #C0C0C0;
            margin-bottom: 16px;
            margin-right: 8px;
            margin-left: 8px;
            border-radius: 4px;
            width: calc((100% - 3 * 16px)/ 3);
            @media (max-width: 768px) {
                width: calc(100% - 16px);
            }
            &__wrap {
                padding: 12px 12px 45px 12px;
                transition: all 0.2s;
                height: 100%;
                &__title {
                    font-family: "Golos-medium";
                    margin-bottom: 12px;
                    font-size: 16px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transition: all 0.2s;
                    cursor: help;
                }
                &__text {
                    transition: all 0.2s;
                }
            }
            &__checkbox {
                width: 15px;
                height: 15px;
                margin: 0px;
                position: absolute;
                bottom: 15px;
                left: 12px;
                &:checked+.filter__items__item__wrap {
                    background-color: rgb(75, 75, 75);
                }
                &:checked+.filter__items__item__wrap .filter__items__item__wrap__title {
                    color: #fff;
                }
                &:checked+.filter__items__item__wrap .filter__items__item__wrap__text {
                    color: #fff;
                }
            }
        }
    }
}